awscli
urllib3
schedule
# Coding
pytest
flake8
autopep8
black
yapf
isort
# MLops
# Experiment management
mlflow
# PIPELINE
prefect
graphviz
dask[complete]
# Quantitative Investment
ccxt
investpy>=0.9.14
empyrical
ta
# Machine learning
scikit-learn>=0.23.2
torch>=1.6.0
torchvision
optuna
lightgbm
# Jupyter notebook
jupyterlab==2.2.9
nb_black
# Display
streamlit #(to use this, we need to use python 3.7.
hiplot
# For Deployment
fastapi
uvicorn
# For Google Drive
google-api-python-client
oauth2client
# database
pymongo