urllib3
# Coding
pytest
pycodestyle>=2.6.0
flake8==3.7.9
autopep8
black==19.10b0
yapf
# Pipeline
prefect[all_extras]
graphviz
# Quantitative Investment
ccxt
investpy>=0.9.14
empyrical
ta
# Machine learning
scikit-learn>=0.23.2
torch>=1.6.0
torchvision
imbalanced-learn
optuna
lightgbm
hiplot
# Jupyter notebook
jupyterlab>=2.0.0
#  jupyterlab_code_formatter